<!DOCTYPE html>
<html>
  <head>
    <title>{{ store.name }} &mdash; {{ page.name }}</title>

    <meta charset="utf-8">
    <meta name="description" content="{{ page.meta_description }}">
    <meta name="keywords" content="{{ page.meta_keywords }}">
    <meta name="viewport" content="width=device-width" />

    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
    <!-- Cyberpunk font for the headers and the menu options-->
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
    <script src="{{ theme | theme_js_url }}" type="text/javascript"></script>
    <script src="{{ 'api' | theme_js_url }}"></script>


    {{ head_content }}
  </head>

  <body id="{{ page.permalink }}" class="{{ page.category }}" class="scanlines">
    <!-- Nav needs to be in each page as well-->
  <nav id="fixed_header">
      <a data-menuanchor="secondPage" href="/home"><img src="https://github.com/ethanny2/Big-Cartel-Files/blob/master/images/new_logo.png?raw=true" alt="Else If Logo"></a>
      <ul id="menu">
       <li data-menuanchor="secondPage"><a href="/products">Shop</a></li>
       <li data-menuanchor="secondPage"><a href="/cart">Cart</a></li>
        <li data-menuanchor="secondPage"><a href="/home">About</a></li>
        <li data-menuanchor="secondPage"><a href="/contact">Contact</a></li>
       

      <ul>
    </nav>
<!--    <div id="scanlines"></div>
 --><!--                <h1>{{ page.name }}</h1>
 -->             {% if errors != blank %}
             <ul class="unstyled errors">
               {% for error in errors %}
               <li>{{ error }}</li>
               {% endfor %}
             </ul>
             {% endif %}

             {% if page.category == 'custom' %}
               {{ page_content | paragraphs }}
             {% else %}
               {{ page_content }}
             {% endif %}
      
   
  </div>

 <script>
    // $(function() {
    //   Product.findAll({}, function(products) {
    //  $.each(products, function(i, product) {
    //       $('#products').append('<li class="item"><a href="'+product.url+'">'+'<img src="' + Product.findImage(product.images[0].url, 'large') + '" /><br/>' + product.name + '- $' + Format.money(product.price) + '</li>');
    //     });
    //   });
    // });
  </script>
  <script>
    var loadedAboutText=false;
    var greeting = "Elseif is an online clothing store created as a collaboration between a programmer and a designer. Products range from modern clothing to fan merchandise for current artists. The brand name and logo is tentative and subject to change. The above animation and the video were created using the Threejs library for web rendering and Free3d.com for models.", 
    cursor = "<span class='block'>&#9646;</span>",
    cmd = $('#cmd');
      if ( $('#cmd').length && $('#cmd').isOnScreen() && loadedAboutText===false ) {
        cmd.append(cursor);
        type('#cmd',greeting,0);
     }
function type(el,text,pos,no){
    ctext = text.substring(0,pos)+(pos%2?cursor:cursor);
    $(el).html(ctext);
    if(pos==text.length){
        $(el).html(text+cursor);
    }else{
        window.setTimeout('type("'+el+'","'+text+'",'+(pos+1)+','+1+');',50);
    }
}
  </script>
<script>
      var loaded = false;
    $(window).scroll(function(){
        if ( $('#ifVisible').length && $('#ifVisible').isOnScreen() && !loaded ) {
          $('.stock').each(function(i, obj){
            console.log('What');
                 var myData = $(obj).data('stock');
                 var myDataFixed = myData + "%";
                 $(obj).animate({width: myDataFixed, }, 1000);
          });
          loaded=true;
         }
    });
</script>
  </body>
</html>
