
 {% paginate products from products.current by theme.products_per_page %}

  {% if products != blank %}
<!--    <nav>
      <a data-menuanchor="startPage" href=""><img src="images/new_logo.png" alt="Else If Logo"></a>
      <ul id="menu">
        <li data-menuanchor="secondPage"><a href="/home">About</a></li>
        <li data-menuanchor="secondPage"><a href="/products">Shop</a></li>
        <li data-menuanchor="secondPage"><a href="/contact">Contact</a></li>
      <ul>
    </nav> -->
      <div id="scanlines"></div>  
  <div id="fullpage">

  <div class="section" id="section2">
  <h1>Shop</h1>
    <ol id="products">
      {% for product in products %}
      <li class="{{ product.css_class }} item">
        <a href="{{ product.url }}">
          <img alt="Image of {{ product.name | escape }}" src="{{ product.image | product_image_url size: theme.product_image_size }}">  </a>
          <br/>
          <b>{{ product.name }}</b>
          <i>{{ product.default_price | money_with_sign }}</i>
          {% if product.on_sale %}
            <em>On Sale</em>
          {% endif %}
      
      </li>
      {% endfor %}
    </ol>
    </div>
  </div>
    {{ paginate | default_pagination }}

  {% else %}
    <p>No products found.</p>
  {% endif %}

{% endpaginate %}
 


   
